/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


body{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}


h1, h2 {
    color: #f27154;
}

h1 {
    margin-bottom: 0;
}


a {
    color: #f27154;
    text-decoration: none;
}

a:hover {
    color: rgba(242, 113, 84, 0.6);
    /*background: #f2b10b;*/
}

/*a:visited {*/
    /*color: #f27154;*/
/*}*/

.site {
    font-size: 1rem;
    text-align: justify;
    width: 40em;
    margin: 2em auto 2em auto;
}

.header {
    text-align: center;
}

.header-title {
    font-size: 2.5rem;
    line-height: 1.3333333333;
    margin: 0%;
}

.header-tag {
    font-size: 1rem;
    line-height: 1em;
    color: #aaa;
    /*text-decoration: underline;*/
    /*border-bottom: .05em solid;*/
}

.main-nav {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    line-height: 2em;
}

.main-nav-container {
    padding-top: 1em;
    border-bottom: .01em solid #cccccc ;
}

.main-nav-container li {
    list-style: none;
    display: inline;
    padding: .5em;
}

.main-nav-container ul {
    margin: 0;
    padding: 0;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

.post-list {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.post-list li {
    list-style: none;
    display: inline;
    padding: .5em;
}


.post-item {
    display: block;
    border-bottom: .01em solid #cccccc;
    padding: .1em;
}

.post-title {
    
}



.post-date {
    color: #cccccc;
    font-size: 1rem;
}

.post {
    line-height: 1.5rem;
}
.post img {
    width: 100%;
}

blockquote {
    font-size: 1.2rem;
    color: #ccc;
    text-decoration-color: black;
    border-left: .3em solid #ccc;
    margin-left: 0;
    padding: 0 .5em;
}

blockquote h2 {
    color: black;
}

code {
    /*font-family: Consolas, "Courier New", monospace;*/
}

p > code, li > code {
    padding: .2em;
    background-color: #fdf6e3;
    color: #586e75;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/



.social-blog, .social-personal {
    margin-bottom: .2em;
}

.social-blog li, .social-personal li {
    list-style: none;
    display: inline;
    padding: .5em;
}

.footer {
    text-align: center;
}
.footer ul {
    margin: 0;
    padding: 0;
}

.footer a {
    font-weight: bold;
}

.copyright, .disclaimer {
    font-size: .75em;
    color: #aaa;
}

