/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

ul {
    margin: 0;
    padding: 0;
}


body{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    /**font-size: small;*/
    line-height: 1.5rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline;
    padding: .5em;
}

a {
    color: #f27154;
    text-decoration: none;
}

a:hover {
    color: rgba(242, 113, 84, 0.6);
}

/*a:visited {*/
    /*color: #f27154;*/
/*}*/

.site {
    font-size: 1rem;
    text-align: justify;
    width: 40em;
    margin: 2em auto 2em auto;
    line-height: 1.5em;
}

.header {
    text-align: center;
}

.header-title {
    font-size: 2.5rem;
    line-height: 1.3333333333;
    margin: 0%;
}

.header-tag {
    font-size: 1rem;
    line-height: 1em;
    color: #aaa;
    /*text-decoration: underline;*/
    /*border-bottom: .05em solid;*/
}

.main-nav {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    line-height: 2em;
}

.main-nav-container {
    padding-top: 1em;
    border-bottom: .01em solid #cccccc ;
}


.post-list {
    font-size: 1.5rem;
}

.post-item {
    display: block;
    border-bottom: .01em solid #cccccc;
    padding: .1em;
}

.post-title {
    
}

.post-date {
    color: #cccccc;
    font-size: 1rem;
}

.social-blog, .social-personal {
    margin-bottom: .2em;
}

.footer {
    text-align: center;
}

.footer a {
    font-weight: bold;
}

.copyright, .disclaimer {
    font-size: .75em;
    color: #aaa;
}

