<footer class="footer">
  <ul class="social">
    <li>
      <a href="https://www.facebook.com/saikiran.blog/">Facebook</a>
    </li>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    |
    <li>
      <a href="https://www.linkedin.com/in/saikiran638/">Linkedin</a>
    </li>
    <li>
      <a href="https://github.com/nsaikiran">GitHub</a>
    </li>
    <li>
      <a href="https://www.thoughtworks.com/profiles/sai-kiran-naragam">ThoughtWorks</a>
    </li>
    <li>
      <a href="https://www.instagram.com/saikiran638/">Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/saikiran638">Twitter</a>
    </li>
  </ul>
  <p class="copyright">© Copyright 2015-2017 Sai Kiran Naragam</p>
  <p class="disclaimer">Disclaimer: The views and opinions expressed
    by the author are personal to the author and do not necessarily reflect the positions of employer</p>
</footer>