<footer class="footer">
  <ul class="social-personal">
    <li>
      <a href="impression/feed.xml">RSS</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/saikiran638/">Linkedin</a>
    </li>
    <li>
      <a href="https://www.instagram.com/saikiran.arts/">Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/saikiran638">Twitter</a>
    </li>
    <li>
      <a href="https://www.goodreads.com/user/show/64572731-sai-kiran">Goodreads</a>
    </li>
  </ul>
  <p class="copyright">© Copyright 2015-2022 Sai Kiran Naragam</p>
  <p class="disclaimer">Disclaimer: The views and opinions expressed
    by the author are personal to the author and do not necessarily reflect the positions of employer</p>
</footer>