<footer class="footer">
  <ul class="social-blog">
    <li>
      <a href="https://www.facebook.com/saikiran.blog/">Facebook Page</a>
    </li>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
  </ul>
  <ul class="social-personal">
    <li>
      <a href="https://www.linkedin.com/in/saikiran638/">Linkedin</a>
    </li>
    <li>
      <a href="https://github.com/nsaikiran">GitHub</a>
    </li>
    <li>
      <a href="https://www.thoughtworks.com/profiles/sai-kiran-naragam">ThoughtWorks</a>
    </li>
    <li>
      <a href="https://www.facebook.com/saikiran638">Facebook</a>
    </li>
    <li>
      <a href="https://www.instagram.com/saikiran.arts/">Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/saikiran638">Twitter</a>
    </li>
    <li>
      <a href="https://www.goodreads.com/user/show/64572731-sai-kiran">Goodreads</a>
    </li>
  </ul>
  <p class="copyright">© Copyright 2015-2019 Sai Kiran Naragam</p>
  <p class="disclaimer">Disclaimer: The views and opinions expressed
    by the author are personal to the author and do not necessarily reflect the positions of employer</p>
</footer>